<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>CGames Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/Assignments">Assignments</a></li>
          <li class="divider"></li>
          <li><a href="/logged_in">Switch User</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
              <li>
                <a class="dropdown-button blue " href="#!" data-activates="dropdown1">{{ vname }}<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </nav>

      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/profile">Profile</a></li>
        <li class="collection-item avatar">
          <img src="images/yuna.jpg" alt="" class="circle">
          <span class="title">Title</span>
          <p>First Line <br>
            Second Line
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li><a href="/Assignments"> Assignments </a></li>
        <li class="divider"></li>
        <li><a href="/login"> Switch User </a></li>
        <li><a href="/"> Logout </a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Welcome Back {{ vname }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">Start A New Lesson Or Finish Where You Left Off</h5>
      </div>
      <div class="row center">
        <a href="/Assignments" class="btn waves-effect waves-light blue darken-2 z-depth-4">Start New Lesson</a>
        <a href="/Assignments" class="btn waves-effect waves-light blue darken-2 z-depth-4">Continue Lesson</a>
      </div>
      <br><br>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s10 m6">
          <div class="card small">
            <div class="card-image">
              <img src="https://tctechcrunch2011.files.wordpress.com/2015/04/codecode.jpg?w=738">
              <span class="card-title ">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s10 m6">
          <div class="card small">
            <div class="card-image">
              <img src="https://16815-presscdn-0-13-pagely.netdna-ssl.com/wp-content/uploads/2016/03/student-blogging.160401.jpg">
              <span class="card-title " >Card Title 2 </span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s10 m6">
          <div class="card small">
            <div class="card-image">
              <img src="https://loystar.co/wp-content/uploads/2017/07/community-group.jpg">
              <span class="card-title " >Card Title 3 </span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s10 m6">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
        </div>


      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer blue darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CGames</h5>
          <li><a class="grey-text text-lighten-1" href="https://github.com/briankarUB/CGames">GitHub: CGames</a></li>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Questions?</h5>
          <ul>
            <li><a class="white-text" href="https://gitter.im/CGames_CSE442/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge!">Chat With Us On Gitter</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3">CGames 2018</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>
